<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-05-02 15:56:42 -0700</string>
	<key>Creator</key>
	<string>Michael Hartl</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{76.2731, 143}, {48.4615, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>32</integer>
			<key>ImageID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{418.5, 118.326}, {17, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>ImageID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{286.5, 113}, {14, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>ImageID</key>
			<integer>15</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{219.5, 113}, {14, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>27</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{347.5, 113}, {24, 30}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>26</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{419, 341}, {20, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>25</integer>
			<key>ImageID</key>
			<integer>12</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{345.5, 330.286}, {26, 36.2143}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>24</integer>
			<key>ImageID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{285.5, 332.5}, {16, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>ImageID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{218.5, 332.5}, {16, 34}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>17</integer>
			<key>Points</key>
			<array>
				<string>{360, 157}</string>
				<string>{360, 239}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Points</key>
			<array>
				<string>{427, 240}</string>
				<string>{427, 322}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>15</integer>
			<key>Points</key>
			<array>
				<string>{226, 240}</string>
				<string>{226, 322}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>14</integer>
			<key>Points</key>
			<array>
				<string>{293, 240}</string>
				<string>{293, 322}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>13</integer>
			<key>Points</key>
			<array>
				<string>{293, 157}</string>
				<string>{293, 239}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>Points</key>
			<array>
				<string>{427, 157}</string>
				<string>{427, 239}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{441, 229.163}, {11, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>8</integer>
			<key>Points</key>
			<array>
				<string>{360, 240}</string>
				<string>{360, 322}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Points</key>
			<array>
				<string>{226, 157}</string>
				<string>{226, 239}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{134, 149.326}, {300, 180}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>ImageID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>19</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://ktd.club.fr/programmation/latexit.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKvECELDBIqKyw0NTpFRkdITlNbXF5maWxucXuAg4eLjpKT
			l5pVJG51bGzSDQ4PEFYkY2xhc3NaTlMub2JqZWN0c4AToRGAAtwN
			ExQVFhcYGRobHB0eHyAhIiMkJSYlKClXdmVyc2lvbllwb2ludFNp
			emVac291cmNlVGV4dFhwcmVhbWJsZVRtb2RlV3BkZkRhdGFVdGl0
			bGVYYmFzZWxpbmVfEA9iYWNrZ3JvdW5kQ29sb3JUZGF0ZVVjb2xv
			coAggAMjQEIAAAAAAACAHIAFEACABIAAIwAAAAAAAAAAgACAHoAX
			VjEuMTYuME8RSxAlUERGLTEuMwolxOXy5eun86DQxMYKNCAwIG9i
			ago8PCAvTGVuZ3RoIDUgMCBSIC9GaWx0ZXIgL0ZsYXRlRGVjb2Rl
			ID4+CnN0cmVhbQp4AX2OsQoCMRBE+/uKsdPCvWyS3eRaRfuDgB8Q
			tBBOOfP/YC4cWCiyxcyyw7ydMWKGqRMMrOJ1xQUP9MfCyKUdDEqu
			GUfa1kX34oSiVGOdCnkfkafukDDQoLVl6Vst+0iBLVQCWSdIE/oz
			kwEj3bDNz7JDuuOU2iP/IV2e8Bui7htiiVfI5oMY30N4MtkKZW5k
			c3RyZWFtCmVuZG9iago1IDAgb2JqCjE0MQplbmRvYmoKMiAwIG9i
			ago8PCAvVHlwZSAvUGFnZSAvUGFyZW50IDMgMCBSIC9SZXNvdXJj
			ZXMgNiAwIFIgL0NvbnRlbnRzIDQgMCBSIC9NZWRpYUJveCBbMCAw
			IDcwIDI2XQo+PgplbmRvYmoKNiAwIG9iago8PCAvUHJvY1NldCBb
			IC9QREYgL1RleHQgXSAvQ29sb3JTcGFjZSA8PCAvQ3MxIDcgMCBS
			ID4+IC9Gb250IDw8IC9GMi4xIDEwIDAgUgovRjEuMCA4IDAgUiA+
			PiA+PgplbmRvYmoKMTEgMCBvYmoKPDwgL0xlbmd0aCAxMiAwIFIg
			L04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0ZpbHRlciAvRmxh
			dGVEZWNvZGUgPj4Kc3RyZWFtCngBhZRNSBRhGMf/s40EsQbRlwjF
			0MEkVCYLUgLT9StTtmXVTAlinX13nRxnp5ndLUUihOiYdYwuVkSH
			iE7hoUOnOkQEmXWJoKNFEAVeIrb/O5O7Y1S+MDO/eZ7/+3y9wwBV
			j1KOY0U0YMrOu8nemHZ6dEzb/BpVqEYUXCnDczoSiQGfqZXP9Wv1
			LRRpWWqUsdb7NnyrdpkQUDQqd2QDPix5PODjki/knTw1ZyQbE6k0
			2SE3uEPJTvIt8tZsiMdDnBaeAVS1U5MzHJdxIjvILUUjK2M+IOt2
			2rTJ76U97RlT1LDfyDc5C9q48v1A2x5g04uKbcwDHtwDdtdVbPU1
			wM4RYPFQxfY96c9H2fXKyxxq9sMp0Rhr+lAqfa8DNt8Afl4vlX7c
			LpV+3mEO1vHUMgpu0deyMOUlENQb7Gb85Br9i4OefFULsMA5jmwB
			+q8ANz8C+x8C2x8DiWpgqBWRy2w3uPLiIucCdOacadfMTuS1Zl0/
			onXwaIXWZxtNDVrKsjTf5Wmu8IRbFOkmTFkFztlf23iPCnt4kE/2
			F7kkvO7frMylU12cJZrY1qe06OomN5DvZ8yePnI9r/cZt2c4YOWA
			me8bCjhyyrbiPBepidTY4/GTZMZXVCcfk/OQPOcVB2VM334udSJB
			rqU9OZnrl5pd3Ns+MzHEM5KsWDMTnfHf/MYtJGXefdTcdSz/m2dt
			kWcYhQUBEzbvNjQk0YsYGuHARQ4ZekwqTFqlX9BqwsPkX5UWEuVd
			FhW9WOGeFX/PeRS4W8Y/hVgccw3lCJr+Tv+iL+sL+l3983xtob7i
			mXPPmsara18ZV2aW1ci4QY0yvqwpiG+w2g56LWRpneIV9OSV9Y3h
			6jL2fG3Zo8kc4mp8NdSlCGVqxDjjya5l90WyxTfh51vL9q/pUft8
			9klNJdeyunhmKfp8NlwNa/+zq2DSsqvw5I2QLjxroe5VD6p9aova
			Ck09prarbWoX346qA+Udw5yViQus22X1KfZgY5reyklXZovg38Iv
			hv+lXmEL1zQ0+Q9NuLmMaQnfEdw2cIeU/8NfswMN3gplbmRzdHJl
			YW0KZW5kb2JqCjEyIDAgb2JqCjc5MgplbmRvYmoKNyAwIG9iagpb
			IC9JQ0NCYXNlZCAxMSAwIFIgXQplbmRvYmoKMyAwIG9iago8PCAv
			VHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEyIDc5Ml0gL0Nv
			dW50IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9iagoxMyAwIG9i
			ago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAwIFIgPj4KZW5k
			b2JqCjE3IDAgb2JqCjw8IC9MZW5ndGggMTggMCBSIC9MZW5ndGgx
			IDE0IDAgUiAvTGVuZ3RoMiAxNSAwIFIgL0xlbmd0aDMgMTYgMCBS
			IC9GaWx0ZXIKL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Ae15ZVRU
			fdc3PYACAoI0I93M0C3dDQMICIwwhAwzOAzdIUiXdEo3iLR0KCEN
			EiId0kinPtzXdd/PWu/1rPfT8+H98p7z5fz3PnvvX+y1zofD+lQZ
			iUAbejrDwLxgPpAEUBMir6hszK2gpaUGBgHBfGAQiIiVVQEFg6Id
			kAhFKBomARThFxDkB9/HgQpIZ0+Ug509GlgqAAIJAuWcneGw+6iT
			sysahuIBqiGs+YBQhA3QAe0ChDtYwxAuSJQLDxAKhwP/qnMBomAu
			MJQbzIaPCAwG2jhYo4EvYXYOCCL+fwFTQ9gigeJ/h21cnf+TcoOh
			XO7RADn+wsd53wNqg0TAPYE2MNv7Qlc4XBvqBANy/M3if+ShTg5w
			z3+/8W+oQC2kDQyF+OerxrC/yHEYIKDOBvZI9D/zamjoPSs5hN09
			a16wEB9I6G8IDi7KDh4wG10HtLU90BYKd4H9HYcg7qfAHRAwXaSL
			w78EBYL+kTC0d7B2RMBcXP6dgd2L9w9697r8BZ7///TqL+66UIe/
			7fxP4//YC7wX9y9x7qu1oGiUgwfQDMQHAt2b/Nf9348v/jFOCWGN
			tHFA2AEFhEWAUBQK6nlfAL4/CQO9wUCHe0IeQJjHPU1+PgQSfT8D
			eO+9L9AWiSL6l2NgID/aHoaG/itK9D+JyMsjPYDevIICQF4B4fu+
			ICExoKgwyPf/BsIAfb9NUJTNf6O6H0ho7YpCwRDov5bnXi+if59t
			He5dgcE8YNZEc9+Q1pIhr1Iz0tA1T3I+f1U0+aTZnC2C78zjEcRs
			V3YZ9zw01vpKAGBD6Dg9/1QlnDxTjQEr3/skFMlp8/Nb3FR0Dlzd
			opsZckkm7BLIErzsmBzxU8MSWBqUu2ls4ypMmVIehciVFTaHyB+n
			zORXc5Qn7gBeL087dWBcDGZu3+R0L+/VEOFMn50ca6R6Gzq9RKfQ
			qPgekPUqM3cFtH7PI0W9dHvU62IrMF7gIOP5OlOyV/pMEBBXyDus
			eQqp6CY//9DbwhLv+V0Ei9UoEArhorTnkxDB6ejJMqZljKUSNTuk
			Y/7F+64r8igf944i/CQZQVruOLvjbyQ2Mpgw4P/ja5ixGy9mZ9OD
			RuKG6YUleJ/65ePKytWyEhfNrNM0+FeumwS75QDba2Hw4Qu6tsvv
			+cvL5t6MaexGV4ETtl26sRPDYLVTlwcAJmWtL5ACuEofWFTvJLtp
			mEmsXeRNY3vbg+Dw+NqexLNnt1Y6Ai3HynuririDQoVsH711Egky
			bStNBtc9I5eK3/PpJU+L/QFEM5k23t0SlvktyJs44YnvUDA3tWB7
			i9MZvbPuR6aL+gX1jQu5vmtswbHCi9uRmgAvvV7UmgwxPjeoFIyR
			2L0SjWqIEVsCWBqUNc+uR5AAjgTE6jGjG/X0mkydjMtNvnjND+lg
			GKDo7SvyqS++fujB1uPPI2cAG6n49PZXRG0/56Fxa3lXpdo6tCiA
			MnWSVs2fEA0I/3NnhnHEb/B4WDQh2Ne3SpQvrqk3vaR0MvMqnt+q
			s+OlUFqp6laFEV3WVYIGAwEvTiCc++eaVF7CHIXo8ElAHiFt4FI+
			9uqPB9XMXDT+f3I/3+KXCE6pVRr9gbw0xcDJ9T2MWNaNbGzbbejY
			CzwdoKVhHjTDFsD6vnPCYXh7JAYj+mw83vqzIRH2Yjf9t05C/CNf
			U4tG+bO1iImi34nIIJcVAs06nzqas26z2YPpaW/hUNwxV1OijC4b
			Yi0nbe30F9dWTCtv+RB53ZiLLr8ouLpDUURvTVrCHz1lTC3oBvgy
			s/H4qVxHI0Bk9JLb2/4P5SjoB4ie98x2sJ6FTxSVf0ntz69OzInT
			RhwH+ieFy2KDS44JAr0C4iilasVkOg+T5PQofbhqfnuzxEdkuVp8
			KEzeVY72CojylJJ+/HkxDFV9eUjzjPy9//1yNVzKSjcjEw43qYQF
			g2qkG0J66GM/FslZBug7+g1KVG9fbSw+4MH4tg6H3G6TmFM5/X6p
			UvDq9H2qxJ08hDpWSfgKbGzxYsfH5kZXEAfe4lBv2NXNXWDKYjN+
			0p9G5CclL6ns6BBr4ZGje400flOdiYu17PSOAsIiYlKEmXbd8eIa
			ZwXv3Cio0afP5qP7WLdlP8Qhun9dNspmORpK17xJlf3ZomwwAGcD
			L1dUiopzgcP1tSTm1RxzTF9qnMa3Y7Xel/MZDsNidFs7r1YqUOIB
			OPIBGBGKH24jLV6zrDWVj+UoCRTrjTyv7KdQfRR3smPRO94ge0rM
			HWuc1x5sH+Fol2opU9zUNUiCE2Uj8MjBe3JMvcV5xJSLiTGbrwYN
			Fed8Uvc5Y6SFf4XIC+pGp/pArLy0De+HmxLX/qcKsTEYwVN/KZoP
			KwSJOOGSHC4fcSSZzwmhsjfFdz27lSfoLL/1bRG3zaSqifwud/za
			GRHHpwRCsoQ0MOeylJN1TXm8Q0392IQbWdk3LwwPwsRvXPRki6Jf
			dtqV0tJQeom1BvA0aj42ctkQ4hVv+YGRn877XHaf5Qet5nMKT8J1
			phK0e2BwXvLqQWh381rP961ENqWRh4COemEZ805ObSPLMHZghbm+
			feBmhTDyUznwARP+ETePqnPPl/l6tug2EPjuN3YtJMw9M7AZW/q5
			fm+lC4N4y75T3k+MmmHeruu7qbDuk8Ddci7+ZxKXwKe1pAtxr4ix
			y18UtmKjvtPdrc2m15JhvN7Vi8hSLIimyPZsADUrP9OIQSNn6sUD
			vcA12arDlE/aLdWGDoOlcgrfs01+HVAp2HpTmW1QIleyMXP7cfwg
			Q6aA0p/KaInD+J24eHQHs9hHd1EVpi8aqoQPQy5dGfROw9uJBalh
			P1FiEg+Hudu7C5LzTr0YHr1XJClAfEKPKGXMHiJ1AgCTnlFg7C+a
			u8/ABvBzGoLkX6n1yCl3KmMuK9JOyluGaUZTCcYmjqTMMe7KofAR
			jce6GpjyMoe0xf5McYfM1dSMQE25z3gRHs1B5qz+c4bB1XOWd+k2
			+Mu2rBsNi327uebnmAWfJrNcHRbdxsePJ5RU3grXDdBSZtVLcUj+
			4XQwLaLL07g5RKACIjSCqKAU24tDdhnuStNgL17HX0FYED5tjyfT
			RquUhjtXGixY4F+2bd6bsYbS+pPpulfTGqPAORjT2Zi67e1lDz7W
			YOPlnJJWsOlqDNVkVNaP3vfxEuE6dc+05X6ox1EpuDVv9TLn3Ih+
			ZsTSvOT6poJhDwY4pnhdqr8mJ1hUwR8qsDdXStUaJe70ZaRLFovB
			OVg1JshQyooamOMWH2B5xSjnr3aY3Bq1ooXLrphWm2fGR88hB2Lg
			54EXTCRVv2Mpb6Qm4OPV0KitTpifx60TBqqKaBUdjXFIaFoFycx2
			MDKc7mEGKemqNnkH0T9u/KytnxxcOVenRvfE/prBuEPXruIRjuZE
			jQiyRzhmDXMBX1gDgrEKMJfTBbuEY2tnydZQtCo/IXZlIuN//KFR
			CGe+Ks+awCqme42kzAvriF75t3VsofjZVTuZFLXATndGmBbnPFO5
			iTlVxSUFr5+tqcTAlk93G8IPb+GHqkw2V8saj7FGDt1jubic15Wu
			DZrLFm/MggKQa7Wt4q9RuWR1NeAvwanopHYfytDt5EPoOYENoxGu
			EkGZVvd0IjRWs6u8oPULnnLO6Rc3+OjA+a+H0ENxO7nXIUt++w6x
			HYvkse7vy2ANjcS/JyvAZU86NrFgAklwCcWnd/PV3RV0SztbzGyn
			l8S08dNsNJ5vn/5pT/slFAv9s72ziBXVNbM4Y5C2ybeq/SDhy9UK
			yRefCMaHfIaudqxHIu1nYYbcjwrICDH5p6lcUqvn2/i2a6w287rH
			9GmH5mJOky7500LMaI0CI1oFRnDzvTgFMwBMSGY7tF5oeJF5AElE
			G+pieptJ4HDB2PDhaBJgWE1laCb+dMyx8c+u8PHu425rNaTUUdcQ
			2dOaO7K5N71FLPkZYqJBH7Y/32WrF6Y/d6czZMAh/ROlzIcYLtqj
			jW8BYPfIOmWj30lZ7ZazN8/VbAFe9f5ojWLbiPvO+l5wcWMPcKhK
			V7I0VRehZhc7VbR5hO9Ib7onuOqHVE3yWZaHLbc91AN1saYJi3wr
			en7jM+bD9eKDR6pF7guDba61gpz5NH3oGLuU+odjf5D0siQOJEIw
			+CiZ3rkM++fSHL3KyaTm1+81DO8W13mdL2vLp6OkxZrcZPZcqjp8
			3SjjjeEgk/wXoNyMpuzihRJvAEQF+MonBfxJy4BRz4LxUaECI2SJ
			o5vDcqZ4QrQNZw2VCeClvqNTHlC7UeMRCMRSFn5lc9ANIAs5d6An
			H/6MxbEMecCZYY9lydRTQcTelI5ndm5aY9oHCk+ZKbbkWXs4McXE
			81P34baLGcYHxZ+yBU5Ra5OGB7Mz+TRTssRyMyCRs0QHcFfSwKgs
			RM04OgFw1Dak+ud2Z+6oy9AZnmDdmOwKVzC0HcWoTNUz89A/FlW/
			5lr5wJ2TIy4J6SVzyibWv1TJT1d5V2H9lEs7Md5Ec073Y2l+Xbz8
			u8iuX503E0/QAg3viypWT9GkiQW3a25RktRZsdLw7Gq5dtExYTVq
			efYDzqgjYfdPVt991b9mhmdkfvP9ZKtF/mQ5O2sVL8hgJEQHlUzm
			mV9NFBavX0HXRfhh8cUTCok1l5GIawyErhf+RdjiqOSHlMWHfAyy
			bo8eV3tGRK7TbhgSfffOJg2+kuiyl47eaCaWqaypGyt7YScheERh
			/6yXtFK42TNWwuYU1xH/bhZPC7/DIQqBFM5wl8wUp5lZZoS2NIt8
			lgtS4WhDWphWsHuH9ppTsq9UWvuNbImeHkhaTVNsbaWSeqVPWABM
			XI0ADDxjuHocg7SfLkl9m8fo90ZAz7jr8oRsIRaObicPSiXAi3Pz
			fZWfntuMM2KvlxROxSU/i1PyM6Tsk2r4qam4UnwNlLKi24MzUSfc
			/Oh8QBwTrb3FEhzbNe6p3KLjexZzZ+wuzrZ41rPOtbsWpkDATkgS
			hyomvu6/erFwdSF7DQ8+lCPTmoiXLyQpPWwd/56am/AJQiVvX5W/
			zv9kIfyT1RrfxsaFXSX1cwacYl9sesodnfB6OQ2vooCRD6LT5byR
			fs2KEpPpHJo+qhwQGh5v8ohcpUkWp3Rv1lyUtrqKdVeYU0MYC7pd
			NMM6MoxcfmXlW4YnadHIH21xwOgb3vXDwYyJulItDr4D4oC+R1Kp
			SXJLde1ADo4JEullY4PqOhu3YifXpQCz/Snl6Afzpmc8wdS6RaNV
			yHzu6PV9laz6CtGMnVnWr0UiC1pUK4sHo0pB2HzI1nWXqf4LC1sK
			OpAli+KrM5/dc6rq7gBZf/YNfUXBYsgFwNJLtULMfAyXk4Y4UiFE
			oAic2FuamQL4HthTMtprqLxzfbYgkAtNep7RsmtFzc4JEt7uWVsL
			mi70cw3Sg1INxfkV2cm5PN2TS7jo5slcehv/qR9+4gTWHsrW9gtd
			MXJFbjHEPGjBI4nIWK5pie3vadkMee72eHoUXorJzvKYFQI+qPW6
			sP6R67DD/ewtbTnHOIF1bxX0iVMs4flZUwptpupbArmDisbELFw0
			RkZk/0XX794GcQb8+qH9BxgtwpHP2KoBTRj+smjL4Vfr3udvmYLN
			kEw1tAQdMvVWhdXrAHpUAWwi5WY6WxRdQck+FLLW9RDAZxQ8J8c5
			VPgD1ZaT5YJ7/KYtC+QZzt5FLpaBL94Hn18KOE6PSk07NNsyTfIs
			xOB5KBx6MSWlGRLVf5zXH4IRbhg7XW8hQqX4eeiJf6ohQ19robze
			Colp7G66nWGQ2twwR8g8cAhpLRWWyEOdcSInwyXX8BsYjkW8jRPW
			u81WWF5sNhTadilOcvtMnUjmk89kpp0KQ5ux1cKE0vG4M0ou/RE/
			3ZEXCfMK0uIGYj0UrMZf/CD0k6Fg2qvL92/N9WVwMRMoUaqOzOlx
			IBXbynqbviJ3T7kuWKHbOb8+u7l1RxUrycv3e+JiNWAfgdBEBX5B
			jOI6HTP/3CChlpaoOs3nGPmpTTdcKXTN2SZFzhdW6UzGsV2S4ha3
			JqFfxoveRrKPiiZUkfgMXXxVIzcL1DwN7YqNGLW/y88TrtMJSZzz
			HInJx7ZPB+pTyw9/fJyeDbsdj+CQH4SgFcxyjwzpTvrdm+asExfg
			8lHvQev2u31grYJG/8way7hBjKnl0PV6un3eWI6dzJNz550+lhhS
			JuKRxscJuV+EUzIG6YmokjcAjEuhVJCmJQngFbbQYale59unGCYF
			uSVETlFx17xTB8d0H7Bc5kLeKqZ0vfPJN0iPXKA13dGwqw8pPiL+
			yWrNN85s+Tq0qNLy1ZFMpC00L+qHrDBegmRwqR59KY0CG6nBtf0A
			QMqfOyxD5Ty/a493tKaeRdoX5Zev8SB08adRpjaXMXHGD5zuwqn7
			j7XBO9wGzgMn12rcRXkL3NObZsFUTPtCzJ8DxeZ1e2vSp59kxLh7
			ONOGevxX1W4NWJYxBb4yrIswNo+1Hsum5WICXXCH9qywIXMJxY63
			lOsGgmCozAxhrKrtbNmawiZH1sJ3J9fxRx90M5Vi/YwsJOq9t6LZ
			YzLc6cyFll+Y03DXx/Tlf8UnDhu8DLcJ7OWDT3ju3W/4lLkxBLCQ
			INWCXVAmcJygKxgUoo5p3pEr3N4Cut2K9/AqzS+Q6jjQoSHXkQRp
			v4+5pRKQpEysCbbRUhpAoBaj+hihL9unWlO1b9g2yV7eZT1oU1oc
			YK+Z3qhz2sp0Taqieqdv8+NgcqPqKoQmF49FTFHLq8OSfR320Q7y
			SzD32qCz+U7JT1GheubTNYdXdIUx5zLAVKqYcHTGo2dvCB0shaPF
			Jln4bX1Xb4fM6d0s9dBJSj4JNcdK5EplKfqBTYNNa8ahU/+Zg/jI
			GOYhJe7F1Iqi2MB6zZcYiFX48z8C4+J4mkuNknJPu8f51NJnJma2
			BiRtP+Daz815SGbRazsQmYFwEgGFfXQvKPSbuz1memLmUbObm577
			oXhFpFR136yFoN8EmLEnVDAbMleoJjtm+0DxJ+FwPxm+Cmt88YjX
			pbWzkS2jrKsX6S5U+GzE5rLSBwh1syVQ3RXpjoiCdN9vfnTgsp8A
			sGXQsWpEqLYLEIZx3uumwcOtU2Wgpa5q4m5IYVojdXe3i1p7ueZW
			FrxM80f/pTCdQeS4790hF2fvNsju/Oh3C1S6ztjJyU60pCB+Sg01
			Yp5UTL8plhWrQ84ofRAbzJkrKcvG3Znrr6gY8Lrko+kk4E3XyVzD
			HZ1rY3ljRKEnNy/Vck0oW6EWlli0pOIjbob8y4NBvzXKOYmzpt0b
			T7/Ksgj5Y6nYNrmF7B0SQv3CDQnLLjPMpyEc2tWKjEnfW/jzTGYu
			Y+pO6x/VaBtT1Tg5sQNZZQ4DdJmykyhPt2ft10hKyML919KEnN72
			jbO6lj6/SMyWi68AsO+PvtYUtG0UWix8bAorZNgwYLJ1ztkfc2OD
			CbMPi/189VHbxuUMcFcpqNyJnowM8sk1b3KxntwWtKBxoPEbLFJS
			3aKxg9W4KZpni/8mK4LLzV767/NTlu+/1xx4OvGxena7HROIr6Q2
			n0eY80Hax7JK6cz4pQ4Zg35tyJt4Msm7tMjsyGCCrnaxIfLCva+J
			BR4lFPtEjnnbRcxmQo8pUQ89PkFXNNbEF3gMT+yn40mFzPZv+nhm
			jw254NGJMY+/vm9/072VTNbH9RYbC/8Zpe5ayvz5S930GEIir0sq
			XkUmcf/cTntYdKpX/a8eCiLaTB2+dxTKxc6MCY07qUXPcifxm+mD
			0U3+oQdfYj9eh6JtfDkVzYpEMxzMAtPk3gIaVHP8HyeIpe/Mab8s
			P63tVE9CtMUaWhD/Hn2GmVB2bf91/09AE1zQ4i7CeYErxomwVbtC
			jnkp6y516yNrR8ejHUftAw+BwQrPiV/TcNpaXdHF8WyTvAFe75Tt
			rf0Nv+cq0kJBS3aP8OY0A1kbxm6Vg8RDXLaiK97Eh5Y2ZmsabjDp
			a1pb9AM56ukIzWoXiWeZP6mtCAFO7eHrDfU/VmGQu7z50BKFMNS3
			aCZJ+gLKfQ2p1mECiv4SQU6e36pN2FyitcVfh62IiFHVSI+nf0B1
			LSvkxfha9Z5C+VZRZiYfumLSKzfSy6p+WYdpl4ZESZZokycYus88
			j1aLfSuWdwjlKAhodKH2uKogDpgoXFdqySrj24whfrGqJ7l1F8t3
			ZcvayDbHQ+PNGs/X+f5V+phCUYzLH6WFNSmfZJnxQ0ol3KuEGRC3
			QiLij8r3IH0TXq3sfpUq3gmia78hIongly9SOWbwEUd6In3XQq7F
			M/pfSUwaZAmKn5FdOdY8ZdiV3BxcNdRMJRqRa1smX505imm9uB0Z
			mtqkwf/F0VMzJsAbTQOOiQ3Kz71BeIvgLsF+fYuouatKGyMVDG02
			QSFZXnOGNP/4nu0jKu6gpW31YiVQKldmhEPXjOMckjvhatrsr9+Z
			UHN3MrOz+ghz9jdIw/Bt997puKBt7WoL6aTVlybJPHKcvSq1MLyB
			Xx46/PvMZm3ch/U+EpLEBXYHypNgmviorF2UQ2hHIz+AGdiKahLH
			08e8skMsbVt2BrdPP0mtBe0YLIdRJH40UYi2qC6JrYJU1fgm4afD
			1W8DdK8N/H+LSQpS55FVkHbFDw7kAHlafUUAydnTQSy/EwcEezRt
			NjHSh9dee9dtbvmHEwsesKpTHyspXrbQ1vJPvTzEOsO3fOKgl/1M
			qigMfpLmwcb3pO6qn7sSM0LlIiXcXOF8cmjhde5I5wEGzpY9r1o7
			0uNmy6YypST4YebvNcMLPbCfO8h01e3GMIGw3qfwFyi0jK6SWgIy
			7m67GaApI3AlKnU24qL1g3Y87r3PtPasQV4eeN8tDye8jFGITKyk
			TGqYGwcvhtxIVR0nV0d0fvdpZ6SUHSebOzSEJR+fgBc7VfOR8HGI
			aW/vcDq1SsKQ1HeNN9DqGANYYIQ/otgHr6yBOR0y7Xi+piDsTq7Z
			ehAHMiuxC21tyRZ6WREYtuvePrnX7UG/fpJ12hd2dt6ZpbVrVbWf
			24hnNnPgtlep89RI8K0eFl27JR44qKUxh1Fxr1mrsMPCrQGRJDZp
			Su/0zE0zdUKsikb3F2zCJ7KSRI7dasBVP/jX6Le5pciTQtD/8iL6
			X9aD/n+D+/+Q/+9FtIbDoCg00gmKciT6L6k4YC8KZW5kc3RyZWFt
			CmVuZG9iagoxOCAwIG9iago2ODIyCmVuZG9iagoxNCAwIG9iago3
			NDMKZW5kb2JqCjE1IDAgb2JqCjYyMDgKZW5kb2JqCjE2IDAgb2Jq
			CjUzMgplbmRvYmoKMTkgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNj
			cmlwdG9yIC9Bc2NlbnQgNzUwIC9DYXBIZWlnaHQgNjY3IC9EZXNj
			ZW50IC0yNTAgL0ZsYWdzIDY4Ci9Gb250QkJveCBbLTYzIC0yODEg
			MTA3OSA3ODFdIC9Gb250TmFtZSAvTFVCREZXK0NNTUkxMCAvSXRh
			bGljQW5nbGUgLTE0LjAzOTk5Ci9TdGVtViA3MiAvTWF4V2lkdGgg
			MTE0MiAvU3RlbUggMzEgL1hIZWlnaHQgNTAwIC9Gb250RmlsZSAx
			NyAwIFIgPj4KZW5kb2JqCjIwIDAgb2JqClsgNDY5IF0KZW5kb2Jq
			CjIxIDAgb2JqCjw8IC9UeXBlIC9FbmNvZGluZyAvRGlmZmVyZW5j
			ZXMgWyAzMyAvdGhldGEgXSA+PgplbmRvYmoKMjIgMCBvYmoKPDwg
			L0xlbmd0aCAyMyAwIFIgL0ZpbHRlciAvRmxhdGVEZWNvZGUgPj4K
			c3RyZWFtCngBXZDBasMwEETv+oo9pocgp2djKCkBH5KWOv0ARRob
			QbwSa/ngv6+klBR60EGzejOz0sf+vWefSH9KsAMSjZ6dYAmrWNAN
			k2d1eCXnbfq9Vc3OJiqd4WFbEuaex0Btq4j0V0aWJBvt3ly44aVo
			H+IgnifafR+HqgxrjHfM4ESN6jpyGLPd2cSLmUG6ovve5blP2z5T
			fy+uWwTlRpk4PCrZ4LBEYyGGJ6i2abr2dOoU2P0bFaU0fybZVSSH
			1PVqfvH1jOcPxBCLTz0//7pjxwplbmRzdHJlYW0KZW5kb2JqCjIz
			IDAgb2JqCjIwNwplbmRvYmoKMTAgMCBvYmoKPDwgL1R5cGUgL0Zv
			bnQgL1N1YnR5cGUgL1R5cGUxIC9CYXNlRm9udCAvTFVCREZXK0NN
			TUkxMCAvRm9udERlc2NyaXB0b3IgMTkgMCBSCi9XaWR0aHMgMjAg
			MCBSIC9GaXJzdENoYXIgMzMgL0xhc3RDaGFyIDMzIC9Ub1VuaWNv
			ZGUgMjIgMCBSIC9FbmNvZGluZyAyMSAwIFIKPj4KZW5kb2JqCjI3
			IDAgb2JqCjw8IC9MZW5ndGggMjggMCBSIC9MZW5ndGgxIDI0IDAg
			UiAvTGVuZ3RoMiAyNSAwIFIgL0xlbmd0aDMgMjYgMCBSIC9GaWx0
			ZXIKL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4Ae14ZVBc0bIu7oND
			0DC4w+AWMrhDcIIFHWBgGGAYCO4EDy7BAsGDQyC4Ezy4ewgSgkMI
			FricnHNu1Tu33q/75/14e1ft2t29utf39de1qvZmZVRygSP1vV0h
			ArwCfCBJoImhioKSEbe8pq4ACPjoAckBWFnlERArJNQFrmCFhEgC
			RfkFhfgFQABWoLyLqzcCau+ABJYJgkBCQFlXVxjk0evs6oGEIHiA
			qnAbPqAV3BYIRboDYVAbCNzdBeHOA7SCwYB/89yBCIg7BOEJseUD
			CAgAbaE2SKA1xB4KB/D/A5cq3M4FKPFPt62H679DnhCE+yMaIMdf
			fJyPNaxsXeAwb6AtxO4x0QMG07JyhgA5/pL4H2ErZyjM+18L/oUU
			qOliC0HA/3OpEeQvNw49uJWrnoML8j/jUHclqBfEVhuKtHEA2lnB
			3CH/RGAAf6wGg8Ih2i7u0H/0DQj6j4C+A9TGCQ5xd/9XBPLYo/9g
			8Uj/L0j+/0ORvwy1raD/1Ozfdf+tIfCxhX9b8JisaYVEQL2ApqBH
			DR+l/Hv/96v5f+ymCLdxsYXC7YGCIqJAKwTCyvsxQeDREgH6CgCh
			j3y8gBCvR5b8fHAX5OMewEeF/YF2LgjAP3QRAPLb/MPz1xAE8rv8
			tyEE5Hf/a/xPdnJyLl5AX15BEQHg4+NxOxBIAighKuH/f8Omh3wc
			JSuE7X+DfcSBZ+OBQEDgyL+T89hFwL9sO+jjIEIgXhAbwOKci41U
			mGNG1jtkzZP3X0YVXrZqNOeK4rjyeIUw23+8SjB+E29zLYhti+c0
			u8SoHEWWrfoUrcD3/I0Lp+3eXMJM3HuY2qseZoMrUhH3YJbQDae0
			6D11C2BZSN6Oka2HCGV6eSw8T0bEzEDuLH2+oJqjPHkf221j1rkT
			5fdw9o/b9z0bBzUAjNlf52fqGb76ztbIdBpl/yPSPiXm7qC25Q8k
			CGtP4j53O8HJQuhzb7dsqT7pX0LYCUW8YxoXBhU9ZJe1fS0sid7L
			omishsFWBlyUDnySohidvTlGtAzxVGKmx3TMp7wp3TEnBZh/KKLO
			0+Ak5VaDi8VbhV9nf+h2iFnjctzezxlxtsc1ktCgGMKS4KuAcId2
			0iGRkLS7mrC2ohTLCBfqC8nP/mmxfYPKgfaF9YEtzcIInjb3qhJh
			oJqFmvoh4vCwbGJlUEKwZnXhPMgM1hxUNeAModAg2U4kDyEjfBop
			75zg+qxi5TTFIBJFDs28FremjmVXRzQEg1l9g0yr2LjtpaLSZRlx
			+e4I8Y4C9h44SFGACZm4QinB7u/NQBgqzxDDc5PgtFB1QIkNoA1F
			qzMNJgTL6kF4kyCXUnmYkmey5bovbYlGDK4uZePKp77dhKdPcaJP
			CDMqCOZsGqW2j5KX0Wwl45yBJs1qXx89vDKz3244XmkdPvKV6rzL
			saafD6dR8WmSOFupzkkP/crzJpyeBT1vsDDPU0Nu+J6REKP4lAYV
			rPsdIk+44SOVOfJqjs5tKJj/1FzIeTVY6OQHudAXz35luTPWNLP3
			5lVrkLiXpJJRYnYFxx3QW3QzjXo347m7vqYExj40CuafnhHVtzQX
			OIZgjKqPk2QM7+9idYigAvH0e/Ah4u79P7HkOakTWTMkM9+aAvdL
			pc686fkYt0ai2023sowPTneda7kxFmLK7tQUFg6iPW3enpZFGPwi
			MyPnxjipp5T+kIWoRGrN+0RHkS3O6R+wqpaBu06tMWaewOh310Hk
			tDbVZKdty2LB9OBPoKlJTOIUSMPIazukEedEb5QeRQqOhVQhAVaH
			OQvBa5zBBIKRx4PSsKja4HnjkPl9XfYiT8qzKB47Kkk0Cg96oBKC
			LlloXKFlCyRBVj7q4+JyvnSdf7o3G/pC7Gy/zzp9O+CdFH51urVV
			PgK71+RNvIoOsVKjTRlmbN9yyZ+3HMWp7+OWSfC9PqohPzY9NHqq
			5/eGXQxs7AqbRB30Jmut16ihDy7xmM75J+RhgUJtNDmmXUdBh9eU
			OVwq9EHqeMG2ncM5l/Hy0yZifqIZLPTzDZRfbEvUO8LvzTYZh1Vf
			ulnWGJok+AvU/6QBwdWIVn/Fu5YIh7LfzmzDRJG+8eWnRnV0C1P6
			37j4pO/mFEKsdXBgWqID9jDi+ZGI41PkWz4OzXAZjmb43c9e0hYJ
			DhqOr8ICt5begAYLOohJJ++ZoWV0R9QOm+aAN5L2UC9gSj7cmHV9
			zPdJJb0oMMyMba00GW9eW+p9wQozo8BpTau+7wbKlC7uNP9rznWR
			zqCv4tZfLr74aUws89JZ1xW7BjMScTAf3faNQM1ZGfsX1b3ZqDnx
			0JjwGgeEURUoflFwy28M8z0/F0tJKi1sV41bSgguHmNFpcFFyNRe
			M3deoVBq64glBJtYhn9pT2ygp2V0Pi0OPWxqaSdmize2mIkp13Zr
			nYQrQNZsxftx0e1a3vM6VvO8sEpG2ALw5N8YL99vjkEMI1tDJEit
			ZMin0VjvxvD2pcBEJ+3BK3dBJArNXqKj58OZE/0UbdJiXktsr5Vn
			8Z9j+4yiqC+ku0vlX3/nqgxjTuIgq3vQvJv7yKmoRpZBuDgrCFS9
			EaXlDDj9SDc45e70ImuFUp36z7KbMQszuv4xmpKqUYGxhVd9nexx
			UoiKlMO5z0Wv+PDnORN0XDSth6IcZupxoUE8M6/Wavx5zEV+v5q7
			a8vambA1a/cGFu+sTwPrRbltXOVa3k+LBd25uZ/ghQpttmpStd84
			aiviNWiPJzE6v0VwuokuFbuERkikVhZVva44kMf1fOulnCwP2khf
			p1HrYidXuudGX+ELHTr6VAGGSHckZeF1ETy81Z7zO8cELCCSnciE
			fFPOkqmpSSJRybF6W7xY23bFJaheFUFcfJtQU8EoMKlfDMLlIQlY
			Fan+TAK9GU1fuynzcbp4v1I+FZxx/A6ikc9gOlisl/ypG9SbGLPK
			RhaZdJGTp7H607f+0z6/0gxTizZ47TXOAGCU5KJDYgdOE01ZS++I
			t/4OdRUFuR4Q53M+bf6gcBFjRtjg/qnNtmWf0DLxVR/tK/07hSba
			n6B2lAwAH7bLYQCKZ3fRJSJjYmucrFjyYNyuwEPF4IDezz+ImQxc
			RXFugZo+OP1K5+dL1dq8+1IOM2Xao09Ug6OAwjW1vYtlCfmHG5Xu
			EBWh984482TamJ8wj2X6SwFFct2hRBUn08ps2zGTTTxqLuJdxmG5
			H5yuHdT5A2KvC1ifF8coFAYgdEqKP1prdb5axKo71tT48IK9GYNx
			k6Z9FfXdRdAIFvDTN6I1yv7oJXBJhe6L8oExEznRdwS6mrWfy1VF
			+0R1JJpW9JEjsUf5jP4li40tP8ZuRLQ7OylI/cjiiG88V25CPwIn
			nlXdZH2QfCWRRSekf4LDcVcmJxVfyr16lpeLApnmpNAJ4RgQYCBz
			BsnMUjVa1sCIBbVCrRjMWCfktTfNZi1f07pjuxkRTDExjjuHxsaB
			bvXfO4x/IHi2rPx0jiyqpAPDrwfk9ZNhYRTfwafgkCVD8fuoE73d
			rqa/CCERXrV5tLTjWs+Xa5DJi8Nd6+m6eaWiOsZLTiDmtUi5M62j
			504iNwHCTXX0wHx6YEDMHRwhFE0ihHehTtZDZVcTYrZyIsptmtiP
			byB6uIsVnZL0BvWq9SzHQ2D7jrUBNRT/Bl9oyyM1/3JixAh3tbau
			3Aa1+zQ+ZFPl8OzN15Fngq8G4he253Cs4iVr0d7VRfj+kZD7tutq
			SI52Z9XiI1K3RPdxJk894p1bdFMJTX29HAsluOxWUM4r8ErrwLvX
			UmUG4MqLV9rcrGFFoolXkQbGphNxx7M56BZxdlqrAR387DyjmfLP
			G0gdZJ2z9cvqpPP2OnVyVdtDb11Llfz2ZbtZgoxdaYIAo4syMeaW
			/imKiSKuOzmc7D67J8apTBsPfyMfvrdz8lrQI2mLkuX+HG01IXX+
			Ey71uMHVVT/6orFVA/48AoNanuHSVvVTTsw0u4jjO+hA1LVMd4I/
			1s/bsrQZAEQLVg/uSadgkD+8V6awaCx5Vd0UOW2e+eXz3Bq4qMGR
			QX/qR3emrU/fsJP61tHc4CJA14wp3Bljx2RgJIumOXQznWofRYm5
			k5CLtgoS4mQX8CqjfTOE//izwGVpz1Wym4+yolFH/aj6D6SIn56A
			jvAcA9jX9MYCr4ArW0LHuchqM6/00uywWrmOL0Hi7C6ZUsQkxqcE
			56MpXTdZI9EZD82pUWxtEgOdU+D284/o2ddRWFEpzftFxmUEns/N
			ItkS6QKWpG3Ao7bGK3aZQ69EIUIBE4HNk3hi5ZJDY/tsHlHOBeLO
			9yekq4fXl63NJnmJqge30o4nzOdPKX7y+qhlIvDs/G3cekV79Kys
			+p9zRH5TP3MwwKpkk658MOdmvRKeZJl/VvkqHMdzK0VD0orKMieb
			b/hnWjE7sEXpyWg4UbDbeJjwD6LKC39vwnT3n2GR9r0ia97YDEST
			s9Lyrg+tQ0MvpCxEvBxcY7cmxpjfprnZ3IxzHZH8LlBjNzbF61pT
			a/Pdhy1aUVweHkjIuWOlrjs2SCyyrfYYHm0vvlaOsUPeL5Hd9h14
			Mp6+IytBvQgU/SyofKY/c28DxJfFHRNgI9QX+A2l6JEXJS8eFMzW
			8SBi5Z+sSXZMfsff3Lr10L3MJreK800/CNTDpuZ+J1JMNLjKhmMa
			x4pZUJaThzU+EI/tSB3g/OzPNX8jm4fyF3zvC+bWOwWnnsGKmklp
			spQb3msP9DCaQJ61Slelo+5FcmIATft7G4qzDUwHTGElCmI6loj7
			YCa9DNmIY6pL9sRxYnAv8FguI+vrJ3c3tUCuihk9WhD2VgPXS/kv
			7+efggKtplMYIsTydEg/kjppu7v6naZHxC1d5OBBCoZNOAjKd6Va
			9EWLtR84pOJ8CB0zDWPDClaR9jP6N+G32j6pYv09iyRy2PsN4niK
			8rnoOcGhCd+F/Wl5zN5n3gUSEI1k6Hyp9d1iEc1NQrsyoBgUeir/
			1qSHU7y4z9k0E6NVzpzCQJnL2UyUrGln32TGI0DOczrNyyCwO0fh
			B/6XLpa7oIuuKTSKkKYZLZyvoGoTBrCFF5iIVfiJux47MpiAx27F
			OBNzGNFiIB2Ypy6bOUqj9EDHVRqmexCygInvVpJdIMdZHx/gwlPK
			SP6QC6h+y7dKehRycBbjMQ2E9LQ3dTaAOWeV+yjs6VPqK9LeVWxf
			QHyFhMqaluriDT1wQQ0xqZnUofKALKk4nZnXG7KQ3L7zN69LNzIS
			XnbJCUqFDjKW7d/Ncf7E65+y/L4QMdpNtYcp6sLGOH01ms3sOEJC
			bgdbdBcI0WefIMj11aMhDzcxLAP2dXy2NZI60lB8wLUsGW9sn3Xh
			mu9i/qzgt3IJFdXKslH4Qb2iQKuzhkT6k2e+s4/rWhPFjA1JGv5O
			0HGnFO+1xNw7ruK81/XNuInawgok876KZDAFSqCzzBywuKRikxuR
			7+k5ShK4zXUZWFekbBgvXdZw2r/fUsz26anp3PEGpcXJdFEwgr4O
			1zoyPKXYymyaxp//9hPJZgCLzFgj4jfx5zl76wJYrqwxJ9JIazUm
			Hl1c5k0yPKtQw3HKhJ+RJ377w1WCVlybdYL4+Si/bqZzl1hqXN3W
			u+HM2ThquaCfzbv9GbI5l0TQW4Ed6SLDhv6RA8rj7IgPFKfVCNe9
			TBURYyFlgJ9QkFO+7Qg2o+zta/4gjt4gPk+z5fr9O9RPworbP1Y/
			Gq3B5elXutNmSJVzG3sBb9keVutwCfoa6Kc30XxdpnZqJL3jtwq7
			9zcx2u0FKlktm9U5jVoz6R1wE/gWvV6gUyz0OAA6x8tSG3mnNVyn
			t78l4Xb7fh7zUg7I3fcf/VOGJbYUC7nZ5/O/kkt0VNzyqTBSbq2j
			7qqK8nd6nwxyjTa7OEpLhL1ntt+Q0EXxr672+SpVYY/2TAUjTNx5
			3Jw8rFABnTEPX5fv3EmqK+r3msVlTx6GkEBzGakLeKVbMe3JVi99
			V97nHzR0m5anTolFOM9sOr5v78L0+aMrODDSSPhf89QdcTfoM5ur
			j/FVlewZR2NIO16ysgyA75O9EWsixbFKueL+HJtYlnDJ8dIeB36/
			eQBhdXkJsbJc0W3+9Ocnh/Xd9IAn6wPjgLTe2xSRm6oDh+DzrRV1
			APMRAoDKJlfz4GI6J3atkvysdY4iueIAm2egftBbZ8Kd9ltzJfmF
			v9B+EQ8J8uPsdXn9nS+GJyo1pbgnjfsJx7bvBvGu8kgKHnPoHsHM
			FyXJKiq/XzqlM7Lv7r4NJtEGk3tiCMs9mxVxEcxcX7+nyvGYYCqb
			a5GrKCB/lRigYGIUQzjhQ0mU84IDLNzNRK5S9qsm1KVpIilk+Ww6
			ZjfXyS5GFqP9RiPLbI6cMSxipx1bFAWsvOMMVmdJKPw9rTCIrrjV
			nfrGErcmCjYxBV6rWWqTaH6gHQw7WqIcCoMf/AEvWtIb9u8oSkMf
			JqpX6qmU9o6Lo/KI1FOsPHxUwqVYGfY+F2KvZ508r+HrKCBcxoRo
			NrZKma6IZ5UPtrPMZ2RjKvPufQ2IrD18yTHinvZgfM1ZcW0i/0aG
			q9kwLjpiC4W4hHsDc1Ze3G2siPpJKfm2oY/5VYuDHuOZJ1C6wJbG
			k/rOetuA6F04H0yBiR6gbmo8a8Q62hSyArCmT585f1u/aojd1hN5
			IgAI2XBlGw4gkkpm65sFryljDSWLowQuaNVBzn6qymjkZ4Wd9V3j
			D9M1nbquTfRdiao2U5jwnm3pyG8G+VBbg58HvN7euaU9aOqGbqWf
			4UvIjp5XGpwFyl3lh/qktakx3PhPu51ArZQk1G+1dgwPUYJSZVPM
			5xvhyn7W+moxNl0VYI/sA70uLMzMKJL+mWO92F/sbK7oJSI5NMgc
			/ZLhmNFO6BNRWbJJVOuENBHGhokVyRqxDzGzeBKVsrM0n0NW1z4s
			6mR587Ix+EtwhfUmD54NDlMCuuOS127Jc5lN7C3fl0prbi1S0UYa
			StOI3k95AjbPldjhQwxYjZOGZT4wKfk3A2+5Byx117cCdrV7wFKM
			kfu23PVp2yYtyIkfW3jSPZq28O1rPcFko8KlRn3K07vuoEoZBfGV
			SgkJ9Cef8vIb14UCALAOU+KdABdNwZtu+l9re4YSGgrjldgbpivl
			o4Tp3jZZ7mmRgbhRHvj24g1Yc/CjfZwXY5t/2IdM8TeFmNygVwiK
			z+BbOI92W7xp8lzP2CkcLrAZZNcmwaD8hvRyXpg+ykLzGWLkLsC6
			vysXM6j3mEQEa2yx2AsdVV4tVtPj+akfzrlzTs9lJxV7m6ZQsuzQ
			YIHuOzR3vmEi/ztB0Oj6vs2WabSjUBtxqHXuucHunZTwGeaHMOjg
			1+uiM9dF3Szime/ONcaoNr819IWOkTRfVSJCv848aMw0aZI2arTh
			ex8qXrigJQ9CDEkP1WVgaXmF8YJjFPjCn2I2L0FWkZNDpyCaaJdx
			GAtpKizaeRvZvH3jmNp7AcbzgElnFZz67rPcVK8nRB9hvdVfoznE
			Kq+8pYws+hOuTcBFeB6jtKBBc9nM4/DkujkNWpJEIJqhipIKv00o
			5Qa/9VuteWGWVoRJve6INfND7NmKjlhi0yodA21fa0T5z2koJ3ja
			rXacWDm0vZBIP+rm6cMJeph00s1O4wMe+RriwA3ZccSLN6bmggfv
			KBd8GkdL452UG9k2HeksYvIkb+a3SIK/n33aRc/09UQ3BUXXkwyz
			XF57G7mGo127Ux+vE3aerjDtaf22/UERdLNC4x7Tt6yl1CrUwNP2
			SouwRX2X3+EDqzZdtV/zny+ScqOwM0HnOvYcu5BPHML8PWLDYAfd
			K9MXH8uhR8yzL4tzd5FOjaoaKSBu/nmjo11qB/5ptzzX4z9iGwdd
			1f5T6bAQ+gfva5+s5APUN5PT0eSrmlv91ovJSR7OzQF2cNYxcURN
			IcWaAc2Wmg3phB871QLKiY7kJ18NqOCbS5331Vv2fd8GbNNvJajF
			5skdvtaMHMFk+qUyL8NLWBxU0A+Gb6fm7wGZSS/P5pB6p4CGiRPU
			rQDx0LRsTdSDspCs+1hab8bprLvJDd6VJVItwsFnPlsETTvOuS+N
			nr31fLBI+8Y12jXlW2A7+NERVd5XaDqUiUse7+x78R9X2MaF4c+1
			imnU1lV2lmsser+Eb66Wy73MQwzRxQNcLMsdWDqt+lyUKmfMTGfB
			09yqRFIWf2qV6c1HGdHTET5ypCIRQJ8dHVtwrcdkjw/p6ciXzEYM
			W/RqCmrkIfPEKtrYkSWaoVZMia3P93GDULcLXe/8t4JqzSqdDcEG
			V9/znJWrJXMW8q5YksfgTswvf/Dt6bHL9BwjMI2h91QihsUJH7W1
			thuyf4PUJAQY3pgWrN/or+tItsrNd+FkEB6o8V2x0g+0lKYig23k
			K401CKuxw1cMyRl7An5gGhEzShm/xtU74PLAbK3HcJHnt1Ztws+W
			a0NRwUR13XXmvdqinKtyeDbhj1T5RrbAY4K492NKh0v41SfIpLHI
			JwuoHt+dRgVizcCfgFhoZ98O1MVq3n5e6m7IsoE8nyL1to1h2hlR
			lE/9stb8wLWBE61GzzUp24Cqnszf/7PClM6EdYji4pud4Wq0qN0z
			czYmLJnzuxevtvKZdPVmtnWd7NrEa0bToAvTbYfpxtNileYeV2ic
			WPE9OE+vmxY0O0njX34RKtX6faHTCW2LLwYKxoqct0putqskBr9e
			IvpzOx75+O2E9yGTC5YNEKrZ/ZUULlqmqi69fFG7/XEETmnMrMbW
			FS3zO3An5IF5JZzQMKdKNOQJSXpmsyxF4R9AZ4Z8ZpCbI8hC8or7
			5itDURGOxuf79nKbLsd3SwRchmpUigJKr/ASVIpOMISkL87foULb
			BZvgyBHxpJLwLAaW1Zz7i6ie/CuF39JJlUn6KZwKNmwLimU9eF1u
			JlUMfrp7ahe650bd5bs3f8CzaSCHXANwfwD+V68XNs8FrG56JonZ
			y+uEfWyCZZmC+i6q6BV7VLJoYrPU8TY47OgWRm9RtmaIwiEJuR1h
			WOl5LyWP5fImkP4T34N3pswB8ARTNE+h3EHa/MG3Sp4vcckKQvoP
			66j23uUFWMfKsN08t4THrMUq8oVJEOTHfngTxUQdnm6ASProPaQx
			fsE7H11CZKy0yAbHHtHB7lwaqtg9fm/tMYe6qRG9nmBIIHng/W1u
			4kSLTJMslm6d7aqC+8GY6+xwQsj1OtXJBMhM0tZB8qHqNW176I2D
			kkARadmphWPGSPhM5j7noT2dsGkLdvbpTFTB438ACWeGnuXZl3Jv
			RMt7Ez/PZRTxt3U8o9DtVkr7WbtrLLHJKq/QsKGLyaCxQ645KUWw
			l1imQduew28/8kpJ+XcIPWB6GIOmQ9AUhh6HhC8Wm9JUTt6S8Z53
			C9du9sXdRkou/olZDny48LLxe54tox1l8ZVet3lPirRwoY++A0i4
			fSraUSPfGBZknX9/TMD5nNdI7d535nTRAt+bniX36dCuNQVD9/pM
			nHzaZJ347AM57lBVql4hmnH+p9Zafook0TT3py/cIKt7z2df+fZ7
			FdDznRKnJTOB/pcX4H+ZD/r/BUD/L/TABgaxQiBdnK0QToD/Aq3L
			AQ4KZW5kc3RyZWFtCmVuZG9iagoyOCAwIG9iago3MTUyCmVuZG9i
			agoyNCAwIG9iago3MzkKZW5kb2JqCjI1IDAgb2JqCjY1NTAKZW5k
			b2JqCjI2IDAgb2JqCjUzMgplbmRvYmoKMjkgMCBvYmoKPDwgL1R5
			cGUgL0ZvbnREZXNjcmlwdG9yIC9Bc2NlbnQgOTY5IC9DYXBIZWln
			aHQgODYxIC9EZXNjZW50IC0yNTAgL0ZsYWdzIDMyCi9Gb250QkJv
			eCBbLTI4MiAtMjgxIDEwNDAgMTAwMF0gL0ZvbnROYW1lIC9aVkhE
			RlcrQ01SMTAgL0l0YWxpY0FuZ2xlIDAgL1N0ZW1WCjY5IC9NYXhX
			aWR0aCAxMzIyIC9TdGVtSCAzMSAvWEhlaWdodCA2NDYgL0ZvbnRG
			aWxlIDI3IDAgUiA+PgplbmRvYmoKMzAgMCBvYmoKWyA0NDQgMCAw
			IDAgMCAwIDAgMCAwIDAgMCAwIDUwMCAwIDAgMCAzOTQgXQplbmRv
			YmoKOCAwIG9iago8PCAvVHlwZSAvRm9udCAvU3VidHlwZSAvVHlw
			ZTEgL0Jhc2VGb250IC9aVkhERlcrQ01SMTAgL0ZvbnREZXNjcmlw
			dG9yIDI5IDAgUgovV2lkdGhzIDMwIDAgUiAvRmlyc3RDaGFyIDk5
			IC9MYXN0Q2hhciAxMTUgL0VuY29kaW5nIC9NYWNSb21hbkVuY29k
			aW5nID4+CmVuZG9iagoxIDAgb2JqCjw8IC9DcmVhdG9yIChMYVRl
			WGlUKSAvUHJvZHVjZXIgKE1hYyBPUyBYIDEwLjUuOCBRdWFydHog
			UERGQ29udGV4dCkgL0NyZWF0aW9uRGF0ZQooRDoyMDEwMDYyMzIz
			NDkzOFowMCcwMCcpIC9Nb2REYXRlIChEOjIwMTAwNjIzMjM0OTM4
			WjAwJzAwJykgPj4KZW5kb2JqCm9iago8PAovRW5jb2RpbmcgL01h
			Y1JvbWFuRW5jb2RpbmcKL1ByZWFtYmxlIChFU2Fubm9wRVNzbGFz
			aGRvY3VtZW50Y2xhc3NbMTBwdF1FU2xlZnRicmFja2FydGljbGVF
			U3JpZ2h0YnJhY2sKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFj
			a2NvbG9yRVNyaWdodGJyYWNrICV1c2VkIGZvciBmb250IGNvbG9y
			CkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2thbXNzeW1iRVNy
			aWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFja2FnZUVTbGVm
			dGJyYWNrYW1zbWF0aEVTcmlnaHRicmFjayAlbWF0aHMKRVNzbGFz
			aHVzZXBhY2thZ2VbdXRmOF1FU2xlZnRicmFja2lucHV0ZW5jRVNy
			aWdodGJyYWNrICV1c2VmdWwgdG8gdHlwZSBkaXJlY3RseSBkaWFj
			cml0aWMgY2hhcmFjdGVycwpFU2Fubm9wZW5kKQovRXNjYXBlZFBy
			ZWFtYmxlIChFU2Fubm9lcCU1Q2RvY3VtZW50Y2xhc3MlNUIxMHB0
			JTVEJTdCYXJ0aWNsZSU3RCUwQSU1Q3VzZXBhY2thZ2UlN0Jjb2xv
			ciU3RCUyMCUyNXVzZWQlMjBmb3IlMjBmb250JTIwY29sb3IlMEEl
			NUN1c2VwYWNrYWdlJTdCYW1zc3ltYiU3RCUyMCUyNW1hdGhzJTBB
			JTVDdXNlcGFja2FnZSU3QmFtc21hdGglN0QlMjAlMjVtYXRocyUw
			QSU1Q3VzZXBhY2thZ2UlNUJ1dGY4JTVEJTdCaW5wdXRlbmMlN0Ql
			MjAlMjV1c2VmdWwlMjB0byUyMHR5cGUlMjBkaXJlY3RseSUyMGRp
			YWNyaXRpYyUyMGNoYXJhY3RlcnMlMEFFU2Fubm9lcGVuZCkKL1N1
			YmplY3QgKEVTYW5ub3RFU3NsYXNoY29zRVNzbGFzaHRoZXRhRVNh
			bm5vdGVuZCkKL0VzY2FwZWRTdWJqZWN0IChFU2Fubm9lcyU1Q2Nv
			cyU1Q3RoZXRhRVNhbm5vZXNlbmQpCi9UeXBlIChFRXR5cGUwRUV0
			eXBlZW5kKQovQ29sb3IgKEVFY29sMC4wMDAwMDAgMC4wMDAwMDAg
			MC4wMDAwMDAgMS4wMDAwMDBFRWNvbGVuZCkKL0JLQ29sb3IgKEVF
			YmtjMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDAgMS4wMDAwMDBF
			RWJrY2VuZCkKL1RpdGxlIChFRXRpdGxlRUV0aXRsZWVuZCkKL01h
			Z25pZmljYXRpb24gKEVFbWFnMzYuMDAwMDAwRUVtYWdlbmQpCi9C
			YXNlbGluZSAoRUViYXMwLjAwMDAwMEVFYmFzZW5kKQo+PgplbmRv
			YmoKeHJlZgowIDMxCjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAx
			NzIwMiAwMDAwMCBuIAowMDAwMDAwMjU2IDAwMDAwIG4gCjAwMDAw
			MDE0MjAgMDAwMDAgbiAKMDAwMDAwMDAyMiAwMDAwMCBuIAowMDAw
			MDAwMjM3IDAwMDAwIG4gCjAwMDAwMDAzNTggMDAwMDAgbiAKMDAw
			MDAwMTM4NCAwMDAwMCBuIAowMDAwMDE3MDM1IDAwMDAwIG4gCjAw
			MDAwMDAwMDAgMDAwMDAgbiAKMDAwMDAwOTIxMSAwMDAwMCBuIAow
			MDAwMDAwNDY5IDAwMDAwIG4gCjAwMDAwMDEzNjQgMDAwMDAgbiAK
			MDAwMDAwMTUwMyAwMDAwMCBuIAowMDAwMDA4NTIwIDAwMDAwIG4g
			CjAwMDAwMDg1NDAgMDAwMDAgbiAKMDAwMDAwODU2MSAwMDAwMCBu
			IAowMDAwMDAxNTUzIDAwMDAwIG4gCjAwMDAwMDg0OTkgMDAwMDAg
			biAKMDAwMDAwODU4MSAwMDAwMCBuIAowMDAwMDA4ODE5IDAwMDAw
			IG4gCjAwMDAwMDg4NDMgMDAwMDAgbiAKMDAwMDAwODkwOCAwMDAw
			MCBuIAowMDAwMDA5MTkxIDAwMDAwIG4gCjAwMDAwMTY2ODMgMDAw
			MDAgbiAKMDAwMDAxNjcwMyAwMDAwMCBuIAowMDAwMDE2NzI0IDAw
			MDAwIG4gCjAwMDAwMDkzODYgMDAwMDAgbiAKMDAwMDAxNjY2MiAw
			MDAwMCBuIAowMDAwMDE2NzQ0IDAwMDAwIG4gCjAwMDAwMTY5NzUg
			MDAwMDAgbiAKdHJhaWxlcgo8PCAvU2l6ZSAzMSAvUm9vdCAxMyAw
			IFIgL0luZm8gMSAwIFIgL0lEIFsgPGIyY2QzNzhhYmNmMGQ0OTNl
			OGIwODE1MTM4NzgyMDExPgo8YjJjZDM3OGFiY2YwZDQ5M2U4YjA4
			MTUxMzg3ODIwMTE+IF0gPj4Kc3RhcnR4cmVmCjE4NDM5CiUlRU9G
			1A0tLi8wMTIzXE5TQXR0cmlidXRlc1hOU1N0cmluZ18QD05TQXR0
			cmlidXRlSW5mb4AbgAeABoAZXxDIXGRvY3VtZW50Y2xhc3NbMTBw
			dF17YXJ0aWNsZX0KXHVzZXBhY2thZ2V7Y29sb3J9ICV1c2VkIGZv
			ciBmb250IGNvbG9yClx1c2VwYWNrYWdle2Ftc3N5bWJ9ICVtYXRo
			cwpcdXNlcGFja2FnZXthbXNtYXRofSAlbWF0aHMKXHVzZXBhY2th
			Z2VbdXRmOF17aW5wdXRlbmN9ICV1c2VmdWwgdG8gdHlwZSBkaXJl
			Y3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwrSDQ42N4AYojg5gAiA
			FtMNOw48PUFXTlMua2V5c4AVoz4/QIAJgAqAC6NCQ0SADIAOgBFX
			TlNDb2xvclZOU0ZvbnRfEBBOU1BhcmFncmFwaFN0eWxl0w1JSktM
			TVxOU0NvbG9yU3BhY2VVTlNSR0KADRABTDAuNSAwLjUgMC41ANJP
			UFFFWCRjbGFzc2VzWiRjbGFzc25hbWWiRVJYTlNPYmplY3TUDVRV
			VldYWVpWTlNTaXplVk5TTmFtZVhOU2ZGbGFnc4AQI0AoAAAAAAAA
			gA8QEFZNb25hY2/ST1BdRqJGUtRfDWBhYmNkZVpOU1RhYlN0b3Bz
			XxAUTlNEZWZhdWx0VGFiSW50ZXJ2YWxbTlNBbGlnbm1lbnSAEoAU
			I0A8AAAAAAAAEATSDQ4PaIAToNJPUGpromtSV05TQXJyYXnST1Bt
			R6JHUtJPUG9wonBSXE5TRGljdGlvbmFyedMNOw48c3eAFaM+P0CA
			CYAKgAujKUNEgBeADoAR0w1JfEt+f1dOU1doaXRlgA0QA0IwANJP
			UIGCo4JrUl5OU011dGFibGVBcnJhedINhIWGV05TLmRhdGGAGkkd
			AAEBJwCDAQHST1CIiaOJilJdTlNNdXRhYmxlRGF0YVZOU0RhdGHS
			T1CMjaKNUl8QEk5TQXR0cmlidXRlZFN0cmluZ9MNLS4wOZGAG4AW
			gB1aXGNvc1x0aGV0YdINlJWWV05TLnRpbWWAHyNBsdLVE1FW89JP
			UJiZoplSVk5TRGF0ZdJPUJucopxSW0hpc3RvcnlJdGVtAAgAEQAa
			AB8AKQAyADcAOgA/AEEAUwB3AH0AggCJAJQAlgCYAJoAswC7AMUA
			0ADZAN4A5gDsAPUBBwEMARIBFAEWAR8BIQEjASUBJwEpATIBNAE2
			ATgBP0xTTFxMaUxyTIRMhkyITIpMjE1XTVxNXk1hTWNNZU1sTXRN
			dk16TXxNfk2ATYRNhk2ITYpNkk2ZTaxNs03ATcZNyE3KTddN3E3l
			TfBN8038TgVODE4TThxOHk4nTilOK04yTjdOOk5DTk5OZU5xTnNO
			dU5+ToBOhU6HTohOjU6QTphOnU6gTqVOqE61TrxOvk7CTsROxk7I
			TsxOzk7QTtJO2U7hTuNO5U7oTu1O8U8ATwVPDU8PTxlPHk8iTzBP
			N088Tz9PVE9bT11PX09hT2xPcU95T3tPhE+JT4xPk0+YT5sAAAAA
			AAACAQAAAAAAAACdAAAAAAAAAAAAAAAAAABPpw==
			</data>
			<key>bundleId</key>
			<string>fr.club.ktd.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image18.pdf</string>
		<string>image17.gif</string>
		<string>image16.pdf</string>
		<string>image15.pdf</string>
		<string>image14.pdf</string>
		<string>image13.pdf</string>
		<string>image12.pdf</string>
		<string>image11.eps</string>
		<string>image10.eps</string>
		<string>image9.eps</string>
		<string>image4.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2010-06-23 16:50:09 -0700</string>
	<key>Modifier</key>
	<string>Michael Hartl</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{61, 189}, {710, 887}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {575, 733}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
